.sidebar {
    width: 50px;
    background-color: #111827;
    display: flex;
    place-items: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: 100vh;
    color: white;
    transition: all 0.2s ease;
}
.sidebar:hover {
    width: 250px;
    transition: all 0.2s ease;
    background-color: #111827;
    display: flex;
    place-items: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: 100vh;
    color: white;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;    
    text-align: center;
    align-items: stretch;
    margin-bottom: 40px;
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    align-content: center;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}
