.sidebar-button{
    display: flex;
    align-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: none;
    border: none;
    color: #cbd5e1;
    font-size: 15px;
    text-align: center;
    padding: 10px 15px;
    margin: 5px auto;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sidebar-button:hover{
    background-color: #2563eb;
    color: #FFFCF5;
}

.icon{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: left;
}