.sidebar-button{
    display: flex;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    background: none;
    border: none;
    color: #cbd5e1;
    font-size: 15px;
    text-align: center;
    padding: 10px 15px;
    margin: 5px auto;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    /* border: 1px solid red; */
}

.sidebar-button:hover{
    background-color: #2563eb;
    color: #FFFCF5;
}

.sidebar:not(:hover) .sidebar-button {
  justify-content: center;
  padding: 5px 5px;
}

.sidebar-button.active{
    background-color: #1e3a8a;
    color: #f8fafc;
    border-left: 2px solid #2563eb;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.sidebar-button.active:hover {
    background-color: #1e40af;
}

.icon{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    /* border: 1px dashed lime; */
}

.text{
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.25s ease;
}

.sidebar:hover .text {
  opacity: 1;
  max-width: 200px;
  margin-left: 5px;
}
